/* Карточка */
.card {
  position: relative;
  display: inline-block;
  min-width: 320px;
  min-height: 509px;
  flex: 0 1 320px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
/* Внешний отступ для карточек для планшетов */
@media (max-width: 1199px) {
  .card {
    margin-bottom: 2.5rem;
  }
}

/* Позиционирование фотографии кота */
.imgCat {
  position: absolute;
}

.imgCat:hover {
  cursor: pointer;
}

/* Сказочное заморское яство*/
.textCard1 {
  position: absolute;
  height: 19px;
  left: 15.94%;
  right: 20%;
  top: calc(50% - 19px / 2 - 224px);

  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #666666;
}

/* Нямушка */
.textCard2 {
  position: absolute;
  height: 56px;
  left: 15%;
  right: 19.06%;
  top: calc(50% - 56px / 2 - 181.5px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

/* Вкус */
.textCard3 {
  position: absolute;
  height: 28px;
  left: 15.94%;
  right: 49.06%;
  top: calc(50% - 28px / 2 - 140.5px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

/* Количество порций и мышей */
.textCard4 {
  position: absolute;
  height: 48px;
  left: 15.94%;
  right: 44.38%;
  top: calc(50% - 48px / 2 - 87.5px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

/* Вес */
.textCard5 {
  position: absolute;
  height: 22px;
  left: 73.28%;
  right: 7.97%;
  top: calc(50% - 22px / 2 + 160.5px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

/* кг */
.textCard6 {
  position: absolute;
  height: 52px;
  left: 79.53%;
  right: 14.22%;
  top: calc(50% + 180px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 100;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

/* Чего сидишь? Порадуй котэ */
.textCard7 {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  background-blend-mode: difference;
  display: flex;
  position: absolute;
  height: 15px;
  left: 17.34%;
  right: 17.34%;
  top: calc(50% - 15px / 2 + 247px);
}

/* купи */
.textCard8 {
  color: #1698d9;
  text-decoration: none;
  display: inline;
}

.textCard8:hover {
  color: #2ea8e6;
  text-decoration: none;
  cursor: pointer;
}

/* Подчёркивание для текста "купи" */
.svgUnderline {
  position: absolute;
  left: 84%;
  bottom: 0%;
}

.svgUnderlineFill {
  fill: #1698d9;
}

.textCard8:hover .svgUnderlineFill {
  fill: #2ea8e6;
}

.textCard1:hover,
.textCard2:hover,
.textCard3:hover,
.textCard4:hover,
.textCard5:hover,
.textCard6:hover {
  cursor: pointer;
}

.textCardDisable {
  color: #ffff66;
}
