@media (max-width: 1199px) {
  .card {
    margin-bottom: 2.5rem;
  }
}

.card {
  position: relative;
  display: inline-block;
  min-width: 320px;
  min-height: 509px;
  flex: 0 1 320px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.borderBack,
.borderFront,
.imgCat {
  position: absolute;
}

.bottomTextCard {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  background-blend-mode: difference;

  position: absolute;
  height: 15px;
  left: 17.34%;
  right: 17.34%;
  top: calc(50% - 15px / 2 + 247px);
}

.bottomTextUrlCard,
.bottomTextUrlCard:hover {
  color: #1698d9;
  text-decoration: none;
}

.bottomTextUrlUnderlineCard {
  position: absolute;
  left: 72.19%;
  right: 19.06%;
  top: 99.8%;
  bottom: 0%;
}

/* Сказочное заморское яство*/
.textCard1 {
  position: absolute;
  height: 19px;
  left: 15.94%;
  right: 20%;
  top: calc(50% - 19px / 2 - 224px);

  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #666666;
}

/* Нямушка */
.textCard2 {
  position: absolute;
  height: 56px;
  left: 15%;
  right: 19.06%;
  top: calc(50% - 56px / 2 - 181.5px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

/* Вкус */
.textCard3 {
  position: absolute;
  height: 28px;
  left: 15.94%;
  right: 49.06%;
  top: calc(50% - 28px / 2 - 140.5px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

/* Количество порций и мышей */
.textCard4 {
  position: absolute;
  height: 48px;
  left: 15.94%;
  right: 44.38%;
  top: calc(50% - 48px / 2 - 87.5px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}
