@font-face {
  font-family: 'Exo2.0';
  src: local('Exo2.0-Thin.otf'), url(./assets/Exo2.0-Thin.eot), url(./assets/Exo2.0-Thin.otf) format('truetype');
}

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;

  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-5) 49.88%, rgba(0, 0, 0, 0.5) 100%), url(./assets/background_pattern.png) repeat fixed; /* Chrome v102, Microsoft Edge v102 */
}

.sample {
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-5) 49.88%, rgba(0, 0, 0, 0.5) 100%), repeat fixed url(./assets/background_pattern.png); /* FF3.6-15 */
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-5) 49.88%, rgba(0, 0, 0, 0.5) 100%), repeat fixed url(./assets/background_pattern.png); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to 180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-5) 49.88%, rgba(0, 0, 0, 0.5) 100%), repeat fixed url(./assets/background_pattern.png); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.shopwindow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.00005) 49.88%, rgba(0, 0, 0, 0.5) 100%), url(./assets/background_pattern.png);
  }

  #root {
    display: block;
  }
}

.header {
  font-family: 'Exo2.0';
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  background-blend-mode: difference;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}
